/*Escribir Texto Encima de Imagen*/


u
{
    color:orange;
}
.contenedor{
    position: relative;
    display: inline-block;
    text-align: center;
}
 
.texto-encima{
    color:greenyellow;
    position: absolute;
    top: 8px;
    left: 170px;
}
.centrado{
    color:lawngreen;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


/*Diseño Formulario*/

/*Estilos del Formularo de registo*/
* {
	box-sizing: border-box;
	
}
/*Fondo*/
body {
	margin: 0;
	font-family: sans-serif;
}


h4
{
    color:white;
}
h2{
   color:orangered; 
}
/*letras*/
h1{
	
	text-align: center;
}
/*letras dentro del formulario*/
.form-register{
	width :95%;
	max-width: 500px;
	margin: auto;
	
	border-radius: 7px;
}
/*titulo*/
.form__titulo {
	background: black;
	color: #fff;
	text-align: center;
	font-weight: 100;
	font-size: 30px;
	/*redeondeado plantilla*/
	border-top-left-radius: 7px;
	border-top-right-radius: 7px;
	border-bottom: 5px;
}

.contenedor-inputs{
	padding: 10px 30px;
	display:flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

placeholder
{
    color:white;
}

textarea
{
    color:white;
    background:black;
    margin-bottom: 15px;
	padding: 15px;
	font-size: 13px;
	border-radius: 2px;
	border: 1px solid dark;
    width: 100%;
	margin: 35;
    
    
    padding: 10px 30px;
	display:flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

input{
    background:black;
    color:white;
	margin-bottom: 15px;
	padding: 15px;
	font-size: 13px;
	border-radius: 2px;
	border: 1px solid ;
}

.input-48{
    color:white;
	width: 48&;
}

.input-100{
    
	width: 100%;
}
.btn-enviar{
	background:black;
	color: greenyellow;
	margin: auto;
	padding: 10px 40px;
	cursor: pointer;
	font-size: 25px;
}
.btn-enviar:activar{
	transform: scale(1.15);
}

.form__link{
	width: 100%;
	margin: 7px;
	text-align:center;
	font-size: 17px;
}
/*//////////////////////////////////*/





*{
	font-family: arial;
	font-size: 17x;
    height: auto;
}

body{
    width:90%;
    margin:auto;
    min-width:600px;
    zoom:125%;
    max-width:2000px;
}

table {
	border: 1px #000;
	width: 75%;
	margin: 25;
	padding: 0;
	border-collapse: collapse;
	border-spacing: 0;
    height: inherit;
}

table tr {
	border: 1px solid #000;
	padding: 5px;
}

table tr:nth-child(even) {
	background-color: #666;
	color: white;
}

table td, table th {
	padding: 0px;
	text-align: center;
}

table th {
	text-transform: uppercase;
	font-family: 50px;
	letter-spacing: 1px;
}

/*//////////////////////////////////////////////*/

@media screen and (max-width: 200px) {
	table {
		border:0;
	}

	table tr {
		margin-bottom: 10px;
		display: block;
		border-bottom: 2px solid #ddd;

	}

	table td {
		display: block;
		text-align: right;
		font-size: 25px;
		border-bottom: 1px dotted #000;
	}

	table td:last-child {
		border-bottom: 0;
	}

	table td:before {
		content: attr(data-label);
		float: left;
		text-transform: uppercase;
		font-weight: 600;
	}

	table thead {
		display: none;
	}
}