
html,
body {
	height: 100%;
	font-family: 'Roboto', sans-serif;
	-webkit-font-smoothing: antialiased;
	font-smoothing: antialiased;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	font-weight: 500;
	color: #131313;
}

aside {

 float: right;
 margin-left: 300px;
 width: 40%;
 height: 380px;
 background: gray;
}

h1 {
	font-size: 70px;
}

h2 {
	font-size: 36px;
}

h3 {
	font-size: 30px;
}

h4 {
	font-size: 24px;
}

h5 {
	font-size: 20px;
}

h6 {
	font-size: 16px;
}

p {
	font-size: 14px;
	color: #878787;
	line-height: 2;
}

img {
	max-width: 100%;
}

input:focus,
select:focus,
button:focus,
textarea:focus {
	outline: none;
}

a:hover,
a:focus {
	text-decoration: none;
	outline: none;
}

ul,
ol {
	padding: 0;
	margin: 0;
}

/*---------------------
  Helper CSS
-----------------------*/

.section-title {
	text-align: center;
	margin-bottom: 75px;
}

.section-title h2 {
	padding-top: 10px;
	font-size: 36px;
}

.set-bg {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top center;
}

.spad {
	padding-top: 97px;
	padding-bottom: 97px;
}

.text-white h1,
.text-white h2,
.text-white h3,
.text-white h4,
.text-white h5,
.text-white h6,
.text-white p,
.text-white span,
.text-white li,
.text-white a {
	color: #fff;
}

.rating i {
	color: #fbb710;
}

.rating .is-fade {
	color: #e0e3e4;
}

/*---------------------
  Commom elements
-----------------------*/

/* buttons */
.site-btn {
	display: inline-block;
	text-align: center;
	font-size: 15px;
	color: #131313;
	padding: 16px 30px;
	min-width: 153px;
	border-radius: 50px;
	font-weight: 500;
	border: none;
	background: #ffb320;
	cursor: pointer;
}

.site-btn.btn-sm {
	padding: 10px 30px;
	min-width: 163px;
}

.site-btn:hover {
	color: #131313;
}

.cata {
	display: inline-block;
	text-transform: uppercase;
	font-size: 12px;
	font-weight: 500;
	color: #fff;
	padding: 6px 25px;
}

.cata.new {
	background: #ff205f;
}

.cata.strategy {
	background: #4eae60;
}

.cata.racing {
	background: #694eae;
}

.cata.adventure {
	background: #40abf5;
}

/* Preloder */
#preloder {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 999999;
	background: #fff;
}

.loader {
	width: 40px;
	height: 40px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -13px;
	margin-left: -13px;
	border-radius: 60px;
	animation: loader 0.8s linear infinite;
	-webkit-animation: loader 0.8s linear infinite;
}

@keyframes loader {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
		border: 4px solid #f44336;
		border-left-color: transparent;
	}
	50% {
		-webkit-transform: rotate(180deg);
		transform: rotate(180deg);
		border: 4px solid #673ab7;
		border-left-color: transparent;
	}
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
		border: 4px solid #f44336;
		border-left-color: transparent;
	}
}

@-webkit-keyframes loader {
	0% {
		-webkit-transform: rotate(0deg);
		border: 4px solid #f44336;
		border-left-color: transparent;
	}
	50% {
		-webkit-transform: rotate(180deg);
		border: 4px solid #673ab7;
		border-left-color: transparent;
	}
	100% {
		-webkit-transform: rotate(360deg);
		border: 4px solid #f44336;
		border-left-color: transparent;
	}
}

/*------------------
  Header section
---------------------*/

.header-section {
	background: #131313;
	clear: both;
	overflow: hidden;
	padding: 18px 0;
	border-bottom: 1px solid #ffb320;
}

.site-logo {
	display: inline-block;
	float: left;
	padding-top: 6px;
}

.user-panel {
	float: right;
	font-weight: 500;
	background: #ffb320;
	padding: 8px 28px;
	border-radius: 30px;
}

.user-panel a {
	font-size: 14px;
	color: #131313;
}

.main-menu {
	float: right;
	margin-right: 170px;
}

.main-menu ul {
	list-style: none;
}

.main-menu ul li {
	display: inline;
}

.main-menu ul li a {
	display: inline-block;
	font-size: 16px;
	color: #fff;
	margin-left: 35px;
	font-weight: 500;
	padding: 10px 5px;
}

.main-menu ul li a:hover {
	color: #ffb320;
}

.header-btn {
	float: right;
	margin-right: 0;
}

.nav-switch {
	display: none;
}



/*---------------------
  Latest News section
-----------------------*/

.latest-news-section {
	overflow: hidden;
	display: block;
	clear: both;
	background: #131313;
	padding: 24px 0;
	position: relative;
}

.ln-title {
	position: absolute;
	height: 100%;
	width: 29%;
	left: 0;
	top: 0;
	text-align: right;
	padding-top: 24px;
	padding-right: 66px;
	font-size: 18px;
	font-weight: 500;
	color: #fff;
	background: #ffb320;
	z-index: 1;
}

.news-ticker {
	width: 71%;
	float: right;
	overflow: hidden;
	display: inline-block;
}

.news-ticker-contant .nt-item {
	margin-right: 35px;
	color: #fff;
	display: inline-block;
}

.news-ticker-contant .nt-item span {
	margin-right: 35px;
	display: inline-block;
	text-transform: uppercase;
	font-size: 12px;
	font-weight: 500;
	color: #fff;
	padding: 4px 20px;
}

.news-ticker-contant .nt-item span.new {
	background: #ff205f;
}

.news-ticker-contant .nt-item span.strategy {
	background: #4eae60;
}

.news-ticker-contant .nt-item span.racing {
	background: #694eae;
}


/*----------------------
  Recent Game Section
------------------------*/

.recent-game-section {
	background-color: #eef2f6;
	border-top: 1px solid #d6dee7;
	border-bottom: 1px solid #d6dee7;
}

.recent-game-item .rgi-thumb {
	height: 204px;
	padding: 25px 28px;
}

.recent-game-item .rgi-content {
	padding: 34px 22px 20px;
	background: #fff;
	border: 1px solid #d6dee7;
	border-top: none;
	position: relative;
}

.recent-game-item .rgi-content h5 {
	margin-bottom: 20px;
	line-height: 1.5;
}

.recent-game-item .rgi-content .comment {
	font-size: 12px;
	color: #737373;
}

.recent-game-item .rgi-extra {
	position: absolute;
	right: 0;
	bottom: 0;
	width: 70px;
}

.recent-game-item .rgi-extra .rgi-star,
.recent-game-item .rgi-extra .rgi-heart {
	height: 35px;
	width: 35px;
	float: left;
	display: block;
	padding: 6px 8px 0;
}

.recent-game-item .rgi-extra .rgi-star {
	background: #ffb320;
}

.recent-game-item .rgi-extra .rgi-heart {
	background: #ff205f;
}

/*----------------------
  Tournaments Section
------------------------*/

.tournaments-section {
	background-image: url("../img/pattern.png");
	background-repeat: repeat;
}

.tournament-title {
	display: inline-block;
	padding: 7px 25px;
	font-size: 12px;
	font-weight: 500;
	color: #fff;
	text-transform: uppercase;
	background: #fb6e10;
}

.tournament-item {
	background: #252525;
}

.tournament-item .ti-notic {
	display: inline-block;
	padding: 8px 21px;
	font-size: 12px;
	font-weight: 700;
	color: #131313;
	text-transform: uppercase;
	background: #ffb320;
}

.tournament-item .ti-content {
	padding: 38px 24px;
	overflow: hidden;
}

.tournament-item .ti-thumb {
	width: 168px;
	height: 178px;
	float: left;
}

.tournament-item .ti-text {
	padding-left: 195px;
}

.tournament-item .ti-text h4 {
	color: #ffb320;
	margin-bottom: 20px;
}

.tournament-item .ti-text ul {
	list-style: none;
	margin-bottom: 20px;
}

.tournament-item .ti-text ul li {
	color: #fff;
	font-size: 12px;
	margin-bottom: 6px;
}

.tournament-item .ti-text ul li span {
	color: #9a9a9a;
}

.tournament-item .ti-text p {
	font-size: 12px;
	margin-bottom: 0;
}

.tournament-item .ti-text p span {
	font-weight: 500;
	color: #ffb320;
}


.footer-section {
	padding: 18px 0 16px;
	overflow: hidden;
	background: #252525;
}

.footer-menu {
	list-style: none;
	float: right;
}

.footer-menu li {
	display: inline;
}

.footer-menu li a {
	display: inline-block;
	font-size: 14px;
	font-weight: 500;
	color: #aeaeae;
	margin-left: 30px;
}

.copyright {
	float: left;
	margin-bottom: 0;
	font-weight: 500;
	color: #aeaeae;
}

